*.*.swp
*.sqlite

*.local

__pycache__/
*.pyc
_backups/

config/coc/
config/hub
config/iterm2
config/gh/
config/jgit/
config/neofetch/
config/nvim/plugged/
config/nvim/plugged
config/configstore/
config/argocd/
config/osxphotos/themes/
config/gtk-2.0/

ipython/maneyko/build/
ipython/maneyko/dist/
ipython/maneyko/maneyko.egg-info/
ipython/profile_default/
ipython/profile_maneyko/logs/
ipython/profile_maneyko/startup/README
ipython/profile_default/
ipython/profile_default

mac/SP*.txt

vim/plugged/
vim/autoload/
vim/plugged
vim/autoload
