*.*.swp
*.sqlite

__pycache__/
_backups/

config/coc/
config/hub
config/nvim/plugged/
config/configstore/

ipython/maneyko/build/
ipython/maneyko/dist/
ipython/maneyko/maneyko.egg-info/
ipython/profile_default/

mac/SP*.txt

vim/plugged/
vim/autoload/
